// Alternate home page
.l-page {
  @include padding(null);
}

.front .top-wrapper {
  @include margin(null);
  @extend %bright-yellow;
  padding-bottom: 0;
  padding-top: 0;
}

.top-wrapper {
  @include margin(null);
  padding-top: 0;
}

.front .top h1 {
  text-align: center;
}

.top-row-wrapper {
  @include clearfix;
}

.left-top {
  @include span(full);
  @include margin(null null $vert-spacing-unit / 2 null);
}

.right-top {
  @include span(full);
}


.sidebar-wrapper {
  @include clearfix;
  clear: both;
  @include margin(null);
}

.section-theme .sidebar-wrapper,
.section-audience .sidebar-wrapper {
  @include padding(0);
}

.section-audience .center-wrapper {
  .pane-page-title,
  .pane-term-description {
    @include padding(null $horz-white-spacing-unit);
    h1 {
      @include padding($vert-spacing-unit null);
    }
  }
}

.right-column,
.left-sidebar,
.page-node-1136 .pane-node-content {
  @include padding($vert-spacing-unit $horz-white-spacing-unit null);
  h1 {
    padding-bottom: $vert-spacing-unit;
  }
}

.section-content .middle {
  @include padding($vert-spacing-unit $horz-white-spacing-unit);
}

.bottom-wrapper {
  @include clearfix;
  .pane-right-video {
    @extend %bright-pink;
    @include margin(null null 0.6rem null);
    position: relative;
    h2 {
      text-align: center;
    }
  }
  .pane-video-slideshow-slick-slideshow {
    @extend %bright-pink;
    @include margin(null null 0.6rem null);
    position: relative;
  }
  .pane .page-node &,
  .page-content &,
  .page-search & {
    .main-menu {
      display: none;
      visibility: hidden;
      @extend %bright-yellow;
      @include margin(null null 0.6rem null);
      h2 {
        text-align: left;
        text-transform: uppercase;
      }
    }
  }
  .page-taxonomy & {
    display: block;
  }
}

.sub-bottom-wrapper {
  @include clearfix;
  @include margin(null);
}


.quad-box {
  padding: 0 $horz-spacing-unit;
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    .need-to-know {
      @include border-color(red green blue);
      @include border-style(solid);
      @include border-width(2px);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 1em;
      margin-bottom: 2em;
      flex: 0 1 100%;
      padding-bottom: $horz-spacing-unit;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-self: flex-end;

      .button {
        align-self: flex-end;
        text-align: center;
        width: 100%;
        a {
          color: white;
        }
      }
    }
  }
}



@include breakpoint(tablet) {
  .left-top {
    @include margin(0);
    @include span(first $desk-cols / 2 of $desk-cols);
  }
  .right-top {
    @include span(last $desk-cols / 2 of $desk-cols);
  }
  .front .agenda {
    h2,
    p {
      padding-bottom: $small-spacing;
    }
    ul {
      li {
        flex: 0 0 100px;
        border-radius: 50px;
        height: 100px;
        width: 100px;
        font-size: $base-font-size * 2;
      }
    }
  }

  .page-node-1136 .center-wrapper .pane-node-content {
    width: percentage(3/4);
    text-align: center;
    margin: 0 auto;
  }
  .section-audience .right-column {
    padding-top: 5.8rem;
  }

  .quad-box {
    padding: 0 $horz-spacing-unit;
    .view-content {
      display: flex;
      flex-wrap: wrap;
      /*justify-content: space-between;*/
      justify-content: center;
      .need-to-know {
        margin: 0.5em;
        flex: 0 1 45%;
        padding-bottom: $horz-spacing-unit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .button {
          align-self: flex-end;
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .not-front .center-wrapper,
  .front .pane-2,
  .section-about .top-row-wrapper,
  .not-front .middle,
  .section-about .pane-1 {
    @include padding(0);
  }

  .sidebar-wrapper {
    @include clearfix;
    .bottom-left {
      @include span(first $desk-cols / 2 of $desk-cols);
      border-right: $horz-spacing-unit / 4 $white solid;
    }
    .bottom-right {
      @include span(last $desk-cols / 2 of $desk-cols);
    }
  }
  .sidebar-wrapper {
    background-color: $dark-white;
  }
  .section-audience .middle h1,
  .left-sidebar,
  .right-column,
  .section-audience .center-wrapper .pane-page-title,
  .section-audience .center-wrapper .pane-term-description {
    padding-left: 0;
    padding-right: 0;
  }

  .section-audience .middle .cs-title h1 {
    margin-top: 1em;
  }
  $theme-icons: ( 29: investors,
  28: research-universities,
  25: startups-entrepreneurs,
  27: young-australians,
  26: business,
  3055: agenda);
  @each $tid,
  $icon in $theme-icons {
    .page-taxonomy-term-#{$tid} .middle:before,
    .page-node-#{$tid} .pane-crumbs-breadcrumb:before {
      height: 300px;
    }
  }
  $theme-colour: ( 5: $grapefruit,
  3: $pink,
  1: $yellow,
  4: $bright-green,
  2: $blue);
  @each $tid,
  $color in $theme-colour {
    .front .pane-menus .views-row-#{$tid} {
      height: 250px;
    }
    .front .pane-menus .views-row-1 {
      height: 499px;
    }
  }

  .quad-box {
    padding: 0 $horz-spacing-unit;
    .view-content {
      display: flex;
      flex-wrap: wrap;
      /*justify-content: space-between;*/
      justify-content: center;
      .need-to-know {
        flex: 0 1 30%;
        padding-bottom: $horz-spacing-unit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &:hover,
        &:focus {
          background-color: shade($action-color, 20%);
          color: #fff;
        }
        .button {
          align-self: flex-end;
        }
      }
    }
  }
}
