/*@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	.menu-block-1, .l-branding, .panel-pane.roadshow, .l-top-bar, .l-footer, .front .top-wrapper, .page-taxonomy .theme-video, 
	.center-wrapper .pane-video-slideshow-slick-slideshow, .bottom-wrapper .pane-right-video, .bottom-wrapper .pane-video-slideshow-slick-slideshow, 
	.panel-pane.what-to-do, .l-branding, .menu-block-3, .front .top-wrapper, .pane .page-node .bottom-wrapper .main-menu, .page-content .bottom-wrapper .main-menu, 
	.page-search .bottom-wrapper .main-menu{
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.event-calendar-list {
		margin-left: 0;
		padding-left: $horz-spacing-unit;
	}
	.social-feed {
		margin-right: 0;
		padding-right: $horz-spacing-unit;
	}
	.bottom-wrapper .pane-right-video, .menu-block-3, .bottom-wrapper .pane-video-slideshow-slick-slideshow, .page-taxonomy .theme-video {
		padding-right: $horz-spacing-unit;
		padding-left: $horz-spacing-unit;
	}
	.search-block-form {
		padding-right: 0.2rem;
	}
}*/