// Service links

#panel1, #flip1, #panel2, #flip2,  #panel3, #flip3,  #panel4, #flip4,  #panel5, #flip5   {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel1, #panel2, #panel3, #panel4, #panel5  {
    padding: 50px;
    display: none;
}
