{
  "name": "diis_govcms",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/diis-govcms.styles.scss",
      "imports": [
        "node_modules/susy/sass/_susy.scss",
        "node_modules/susy/sass/_susy-prefix.scss",
        "sass/bourbon/_bourbon.scss",
        "sass/base/_base.scss",
        "sass/abstractions/_mixins.scss",
        "sass/components/_header.scss",
        "sass/components/_l-top-menu-wrapper.scss",
        "sass/components/_l-branding.scss",
        "sass/components/_l-main-menu-wrapper.scss",
        "sass/components/_l-search-wrapper.scss",
        "sass/components/_l-header-bottom.scss",
        "sass/components/_tabs--primary.scss",
        "sass/components/_pane-ministers.scss",
        "sass/components/_pane-content-items.scss",
        "sass/components/_pager.scss",
        "sass/components/_content-wrapper.scss",
        "sass/components/_easy-breadcrumb.scss",
        "sass/components/_sidebar-right.scss",
        "sass/components/_pane-ministers-panel-pane-1.scss",
        "sass/components/_page-user.scss",
        "sass/components/_footer.scss",
        "sass/components/_search.scss",
        "node_modules/susy/sass/susy/_unprefix.scss",
        "node_modules/susy/sass/_version.scss",
        "node_modules/susy/sass/susy/_utilities.scss",
        "node_modules/susy/sass/susy/_su-validate.scss",
        "node_modules/susy/sass/susy/_su-math.scss",
        "node_modules/susy/sass/susy/_settings.scss",
        "node_modules/susy/sass/susy/_normalize.scss",
        "node_modules/susy/sass/susy/_parse.scss",
        "node_modules/susy/sass/susy/_syntax-helpers.scss",
        "node_modules/susy/sass/susy/_api.scss",
        "sass/bourbon/bourbon/helpers/_buttons-list.scss",
        "sass/bourbon/bourbon/helpers/_scales.scss",
        "sass/bourbon/bourbon/helpers/_text-inputs-list.scss",
        "sass/bourbon/bourbon/settings/_settings.scss",
        "sass/bourbon/bourbon/validators/_contains.scss",
        "sass/bourbon/bourbon/validators/_contains-falsy.scss",
        "sass/bourbon/bourbon/validators/_is-color.scss",
        "sass/bourbon/bourbon/validators/_is-length.scss",
        "sass/bourbon/bourbon/validators/_is-light.scss",
        "sass/bourbon/bourbon/validators/_is-number.scss",
        "sass/bourbon/bourbon/validators/_is-size.scss",
        "sass/bourbon/bourbon/utilities/_assign-inputs.scss",
        "sass/bourbon/bourbon/utilities/_collapse-directionals.scss",
        "sass/bourbon/bourbon/utilities/_directional-values.scss",
        "sass/bourbon/bourbon/utilities/_font-source-declaration.scss",
        "sass/bourbon/bourbon/utilities/_retrieve-bourbon-setting.scss",
        "sass/bourbon/bourbon/utilities/_unpack.scss",
        "sass/bourbon/bourbon/library/_border-color.scss",
        "sass/bourbon/bourbon/library/_border-radius.scss",
        "sass/bourbon/bourbon/library/_border-style.scss",
        "sass/bourbon/bourbon/library/_border-width.scss",
        "sass/bourbon/bourbon/library/_buttons.scss",
        "sass/bourbon/bourbon/library/_clearfix.scss",
        "sass/bourbon/bourbon/library/_contrast-switch.scss",
        "sass/bourbon/bourbon/library/_ellipsis.scss",
        "sass/bourbon/bourbon/library/_font-face.scss",
        "sass/bourbon/bourbon/library/_font-stacks.scss",
        "sass/bourbon/bourbon/library/_hide-text.scss",
        "sass/bourbon/bourbon/library/_hide-visually.scss",
        "sass/bourbon/bourbon/library/_margin.scss",
        "sass/bourbon/bourbon/library/_modular-scale.scss",
        "sass/bourbon/bourbon/library/_padding.scss",
        "sass/bourbon/bourbon/library/_position.scss",
        "sass/bourbon/bourbon/library/_prefixer.scss",
        "sass/bourbon/bourbon/library/_shade.scss",
        "sass/bourbon/bourbon/library/_size.scss",
        "sass/bourbon/bourbon/library/_strip-unit.scss",
        "sass/bourbon/bourbon/library/_text-inputs.scss",
        "sass/bourbon/bourbon/library/_timing-functions.scss",
        "sass/bourbon/bourbon/library/_tint.scss",
        "sass/bourbon/bourbon/library/_triangle.scss",
        "sass/bourbon/bourbon/library/_value-prefixer.scss",
        "sass/bourbon/bourbon/library/_word-wrap.scss",
        "sass/base/_variables.scss",
        "sass/base/_buttons.scss",
        "sass/base/_forms.scss",
        "sass/base/_layout.scss",
        "sass/base/_lists.scss",
        "sass/base/_media.scss",
        "sass/base/_tables.scss",
        "sass/base/_typography.scss"
      ]
    },
    {
      "path": "sass/base/_base.scss",
      "imports": [
        "sass/base/_variables.scss",
        "sass/base/_buttons.scss",
        "sass/base/_forms.scss",
        "sass/base/_layout.scss",
        "sass/base/_lists.scss",
        "sass/base/_media.scss",
        "sass/base/_tables.scss",
        "sass/base/_typography.scss"
      ]
    },
    {
      "path": "sass/bourbon/_bourbon.scss",
      "imports": [
        "sass/bourbon/bourbon/helpers/_buttons-list.scss",
        "sass/bourbon/bourbon/helpers/_scales.scss",
        "sass/bourbon/bourbon/helpers/_text-inputs-list.scss",
        "sass/bourbon/bourbon/settings/_settings.scss",
        "sass/bourbon/bourbon/validators/_contains.scss",
        "sass/bourbon/bourbon/validators/_contains-falsy.scss",
        "sass/bourbon/bourbon/validators/_is-color.scss",
        "sass/bourbon/bourbon/validators/_is-length.scss",
        "sass/bourbon/bourbon/validators/_is-light.scss",
        "sass/bourbon/bourbon/validators/_is-number.scss",
        "sass/bourbon/bourbon/validators/_is-size.scss",
        "sass/bourbon/bourbon/utilities/_assign-inputs.scss",
        "sass/bourbon/bourbon/utilities/_collapse-directionals.scss",
        "sass/bourbon/bourbon/utilities/_directional-values.scss",
        "sass/bourbon/bourbon/utilities/_font-source-declaration.scss",
        "sass/bourbon/bourbon/utilities/_retrieve-bourbon-setting.scss",
        "sass/bourbon/bourbon/utilities/_unpack.scss",
        "sass/bourbon/bourbon/library/_border-color.scss",
        "sass/bourbon/bourbon/library/_border-radius.scss",
        "sass/bourbon/bourbon/library/_border-style.scss",
        "sass/bourbon/bourbon/library/_border-width.scss",
        "sass/bourbon/bourbon/library/_buttons.scss",
        "sass/bourbon/bourbon/library/_clearfix.scss",
        "sass/bourbon/bourbon/library/_contrast-switch.scss",
        "sass/bourbon/bourbon/library/_ellipsis.scss",
        "sass/bourbon/bourbon/library/_font-face.scss",
        "sass/bourbon/bourbon/library/_font-stacks.scss",
        "sass/bourbon/bourbon/library/_hide-text.scss",
        "sass/bourbon/bourbon/library/_hide-visually.scss",
        "sass/bourbon/bourbon/library/_margin.scss",
        "sass/bourbon/bourbon/library/_modular-scale.scss",
        "sass/bourbon/bourbon/library/_padding.scss",
        "sass/bourbon/bourbon/library/_position.scss",
        "sass/bourbon/bourbon/library/_prefixer.scss",
        "sass/bourbon/bourbon/library/_shade.scss",
        "sass/bourbon/bourbon/library/_size.scss",
        "sass/bourbon/bourbon/library/_strip-unit.scss",
        "sass/bourbon/bourbon/library/_text-inputs.scss",
        "sass/bourbon/bourbon/library/_timing-functions.scss",
        "sass/bourbon/bourbon/library/_tint.scss",
        "sass/bourbon/bourbon/library/_triangle.scss",
        "sass/bourbon/bourbon/library/_value-prefixer.scss",
        "sass/bourbon/bourbon/library/_word-wrap.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7887,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}