@import url(../fonts/styles.css);
/*********************
BREAKPOINTS
*********************/
button, [type='button'], [type='reset'], [type='submit'], .button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #3c61ad;
  border: 0;
  border-radius: 0.75px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 0.375em;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus, .button:hover, .button:focus {
    background-color: #f8e08e;
    color: #000000; }
  button:active, [type='button']:active, [type='reset']:active, [type='submit']:active, .button:active {
    background-color: #4a7729;
    color: #FFFFFF; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled, .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover, .button:disabled:hover {
      background-color: #3c61ad; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 200ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #c4c4c4; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #3c61ad;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(53, 86, 154, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #f5f5f5; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #9b9b9b; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #9b9b9b; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b8b8b8;
  font-weight: 600;
  padding: 0.75em;
  text-align: left; }

td {
  border-bottom: 1px solid #f5f5f5;
  padding: 0.75em; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #585858;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.9em;
  line-height: 1.5; }

html, body {
  overflow-x: visible; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
  margin: 0.75em 0 0.75em;
  color: #000000;
  font-weight: 500; }

h1 {
  font-size: 1.89em;
  font-weight: 300;
  margin: 0 0 0.75em; }

h2 {
  font-weight: 400;
  font-size: 1.62em; }

h3 {
  font-size: 1.44em; }

h4 {
  font-size: 1.26em; }

h5 {
  font-size: 1.08em; }

h6 {
  text-transform: uppercase;
  font-size: 0.9em; }

p {
  margin: 0 0 0.75em;
  color: #585858; }

a {
  color: #3c61ad;
  text-decoration: none;
  transition: color 200ms ease; }
  a:active {
    color: #3c61ad; }
  a:focus, a:hover {
    color: #215732; }

.l-content a {
  border-bottom: 1px dotted #3c61ad; }
  .l-content a:focus, .l-content a:hover {
    border-bottom: 1px dotted #215732; }

strong {
  font-weight: 500; }

hr {
  border-bottom: 1px solid #f5f5f5;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

sup, sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.l-content ul, .l-content ol {
  list-style: outside square;
  padding-left: 3em;
  padding-bottom: 0.75em; }
  .l-content ul ul, .l-content ul ol, .l-content ol ul, .l-content ol ol {
    list-style: outside disc; }
    .l-content ul ul ul, .l-content ul ol ul, .l-content ol ul ul, .l-content ol ol ul {
      list-style-type: circle; }

.l-content ol {
  list-style-type: decimal; }
  .l-content ol ol {
    list-style-type: lower-alpha; }
    .l-content ol ol ol {
      list-style-type: lower-roman; }

@media (min-width: 768px) {
  body {
    font-size: 1em; }
  h1 {
    font-size: 2.1em; }
  h2 {
    font-size: 1.8em; }
  h3 {
    font-size: 1.6em; }
  h4 {
    font-size: 1.4em; }
  h5 {
    font-size: 1.2em; }
  h6 {
    font-size: 1em; } }

@media (min-width: 768px) {
  html, body {
    overflow-x: visible; } }

@media (min-width: 1280px) {
  html, body {
    overflow-x: visible; } }

.l-page {
  width: 100%;
  position: relative; }

@media (min-width: 1280px) {
  .l-page {
    /*width: 960px;*/ } }

.l-content {
  padding: 1rem 1rem; }
  .l-content .date {
    text-transform: uppercase;
    font-size: 0.8em; }
  .l-content img {
    padding: 1rem 0.5rem;
    margin: 0 auto;
    display: block;
    height: auto; }
  .l-content .caption {
    color: #215732;
    font-size: 0.8em; }
  .l-content .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: 1rem 0; }
    .l-content .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .l-content .lifecycle-box-item {
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    margin: 0 auto;
    margin-bottom: 1em;
    display: inline; }
  .l-content .clear {
    clear: both; }

@media (min-width: 768px) {
  .l-content img {
    padding: 1rem 1rem; } }

@media (min-width: 1280px) {
  .l-content {
    /*width: 960px;*/
    margin: 0 auto; }
    .l-content img {
      float: right; }
    .l-content .lifecycle-page {
      width: 60%;
      margin-left: 20%; }
    .l-content .lifecycle-box-item {
      float: none;
      margin-bottom: 1em;
      display: -ms-inline-flexbox;
      display: inline-flex; } }

.l-top-bar {
  background-color: #f5f5f5;
  position: relative;
  padding: 0 1rem; }
  .l-top-bar .l-top-menu-left a {
    color: #f5f5f5; }

.l-top-menu-right {
  width: 100%;
  margin: auto; }

@media (min-width: 768px) {
  .l-top-bar {
    height: 50px;
    background-color: #585858; }
    .l-top-bar .l-top-menu-right {
      position: absolute;
      top: 0;
      z-index: 1000001; }
      .l-top-bar .l-top-menu-right ul {
        text-align: left; }
        .l-top-bar .l-top-menu-right ul li {
          line-height: 50px; }
          .l-top-bar .l-top-menu-right ul li a {
            color: #000000; }
          .l-top-bar .l-top-menu-right ul li.first, .l-top-bar .l-top-menu-right ul li.last {
            display: inline;
            visibility: visible; }
          .l-top-bar .l-top-menu-right ul li:after {
            content: '\000B7';
            color: #949494;
            padding-left: 0.35rem; } }

@media (min-width: 1280px) {
  .l-top-bar-wrapper {
    background-color: #585858; }
    .l-top-bar-wrapper .l-top-bar {
      width: 960px;
      margin: 0 auto; } }

.mean-container .mean-bar {
  background-color: #585858;
  padding: 0;
  height: 50px; }
  .mean-container .mean-bar a.meanmenu-reveal {
    padding: 14px 14px; }

.mean-container .mean-nav {
  background: #585858; }
  .mean-container .mean-nav ul li {
    list-style: none; }
    .mean-container .mean-nav ul li a {
      padding: 0.5em 2%;
      width: 96%;
      text-transform: none; }
      .mean-container .mean-nav ul li a.mean-expand {
        height: 12px;
        width: 12px;
        line-height: 11.5px; }
        .mean-container .mean-nav ul li a.mean-expand:hover {
          background-color: #373737; }
      .mean-container .mean-nav ul li a:hover {
        background-color: #3c61ad;
        color: #FFFFFF; }
    .mean-container .mean-nav ul li li a {
      padding: 0.5em 5%;
      width: 90%; }
    .mean-container .mean-nav ul li li li a {
      padding: 0.5em 7%;
      width: 86%; }
    .mean-container .mean-nav ul li li li li a {
      padding: 0.5em 9%;
      width: 82%; }
    .mean-container .mean-nav ul li li li li li a {
      padding: 0.5em 11%;
      width: 78%; }
    .mean-container .mean-nav ul li li li li li li a {
      padding: 0.5em 13%;
      width: 74%; }
    .mean-container .mean-nav ul li li li li li li li a {
      padding: 0.5em 15%;
      width: 70%; }

.main-menu {
  background-color: #f5f5f5;
  font-size: 0.9em;
  z-index: 10;
  width: 100% !important;
  clear: both;
  line-height: 3; }
  .main-menu.floating-block-active {
    background: rgba(245, 245, 245, 0.9);
    box-shadow: 0px 0px 6px 1px #e0e0e0; }
  .main-menu ul.menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    height: 80px;
    list-style: none;
    line-height: 1.5; }
    .main-menu ul.menu > li {
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
      position: relative;
      height: 100%; }
      .main-menu ul.menu > li > a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        text-align: center;
        -ms-flex-pack: center;
            justify-content: center;
        color: #3c61ad; }
        .main-menu ul.menu > li > a:hover, .main-menu ul.menu > li > a:focus {
          background-color: #3c61ad;
          color: #FFFFFF; }
        .main-menu ul.menu > li > a.active {
          color: #585858;
          background-color: #f8e08e; }
          .main-menu ul.menu > li > a.active:hover, .main-menu ul.menu > li > a.active:focus {
            background-color: #3c61ad;
            color: #FFFFFF; }
      .main-menu ul.menu > li a {
        font-weight: 500;
        padding: 0 1rem;
        height: 100%; }
      .main-menu ul.menu > li ul {
        display: none;
        visibility: hidden; }
      .main-menu ul.menu > li:hover ul, .main-menu ul.menu > li:focus ul {
        display: inline;
        visibility: visible;
        background-color: #585858;
        top: 80px;
        box-shadow: 0px 3px 5px 1px rgba(224, 224, 224, 0.7); }
        .main-menu ul.menu > li:hover ul li, .main-menu ul.menu > li:focus ul li {
          border-bottom: 1px solid #949494; }
          .main-menu ul.menu > li:hover ul li.last, .main-menu ul.menu > li:focus ul li.last {
            border-bottom: none; }
        .main-menu ul.menu > li:hover ul a, .main-menu ul.menu > li:focus ul a {
          padding: 0.75em;
          color: #FFFFFF; }
          .main-menu ul.menu > li:hover ul a.active, .main-menu ul.menu > li:focus ul a.active {
            background-color: #f8e08e;
            color: #585858; }
          .main-menu ul.menu > li:hover ul a:hover, .main-menu ul.menu > li:hover ul a:focus, .main-menu ul.menu > li:focus ul a:hover, .main-menu ul.menu > li:focus ul a:focus {
            background-color: #3c61ad;
            color: #FFFFFF; }
        .main-menu ul.menu > li:hover ul ul, .main-menu ul.menu > li:focus ul ul {
          position: relative;
          left: 0 !important;
          top: 0 !important; }
          .main-menu ul.menu > li:hover ul ul li, .main-menu ul.menu > li:focus ul ul li {
            border-bottom: none; }
            .main-menu ul.menu > li:hover ul ul li a, .main-menu ul.menu > li:focus ul ul li a {
              font-weight: 300;
              padding-left: 10px; }
              .main-menu ul.menu > li:hover ul ul li a:before, .main-menu ul.menu > li:focus ul ul li a:before {
                content: '\025AA';
                padding: 0 0.75em; }
          .main-menu ul.menu > li:hover ul ul ul li a, .main-menu ul.menu > li:focus ul ul ul li a {
            padding-left: 20px; }
          .main-menu ul.menu > li:hover ul ul ul ul li a, .main-menu ul.menu > li:focus ul ul ul ul li a {
            padding-left: 30px; }

@media (min-width: 768px) {
  .mean-container .mean-nav ul li a.mean-expand {
    height: 16px;
    width: 16px;
    line-height: 14px; } }

@media (min-width: 1280px) {
  .main-menu-wrapper {
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0; }
    .main-menu-wrapper .main-menu {
      max-width: 960px;
      margin: 0 auto; } }

.page-search h3 a {
  border-bottom: none; }

.page-search .pager {
  text-align: right; }

.page-search .form-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end; }
  .page-search .form-wrapper label {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .page-search .form-wrapper .form-item {
    margin: 0; }
  .page-search .form-wrapper input.form-text {
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    height: 100%;
    margin-bottom: 0; }
  .page-search .form-wrapper input.form-submit {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    text-indent: 200%;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    padding: 0;
    height: 35px;
    width: 35px;
    background: url("../images/search.png"), #3c61ad;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 25px 25px; }

.l-search-wrapper {
  position: absolute;
  top: 9px;
  right: 14px;
  z-index: 1000002;
  border-radius: 3px;
  box-shadow: 0px 0px 6px 1px #373737; }
  .l-search-wrapper .search-block-form {
    margin: 0;
    padding: 0; }
    .l-search-wrapper .search-block-form > div {
      width: 100%; }
    .l-search-wrapper .search-block-form * {
      height: 30px; }
    .l-search-wrapper .search-block-form .container-inline div {
      display: inline-block; }
    .l-search-wrapper .search-block-form .container-inline .form-item input,
    .l-search-wrapper .search-block-form .container-inline .form-item input.form-submit,
    .l-search-wrapper .search-block-form .container-inline .form-actions input,
    .l-search-wrapper .search-block-form .container-inline .form-actions input.form-submit {
      border-radius: 0;
      border: none; }
    .l-search-wrapper .search-block-form .container-inline .form-item .form-text,
    .l-search-wrapper .search-block-form .container-inline .form-actions .form-text {
      font-size: 14px;
      line-height: 100%; }
      .l-search-wrapper .search-block-form .container-inline .form-item .form-text::-webkit-input-placeholder,
      .l-search-wrapper .search-block-form .container-inline .form-actions .form-text::-webkit-input-placeholder {
        font-size: 14px;
        color: #585858; }
      .l-search-wrapper .search-block-form .container-inline .form-item .form-text:-moz-placeholder,
      .l-search-wrapper .search-block-form .container-inline .form-actions .form-text:-moz-placeholder {
        /* Firefox 18- */
        font-size: 14px;
        color: #585858; }
      .l-search-wrapper .search-block-form .container-inline .form-item .form-text::-moz-placeholder,
      .l-search-wrapper .search-block-form .container-inline .form-actions .form-text::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px;
        color: #585858; }
      .l-search-wrapper .search-block-form .container-inline .form-item .form-text:-ms-input-placeholder,
      .l-search-wrapper .search-block-form .container-inline .form-actions .form-text:-ms-input-placeholder {
        font-size: 14px;
        color: #585858; }
    .l-search-wrapper .search-block-form .container-inline .form-item input {
      background: #FFFFFF;
      color: #585858;
      font-size: 1em;
      width: 93px;
      transition: all .4s ease-in-out;
      margin-right: -5px;
      border-radius: 3px 0 0 3px;
      -webkit-appearance: none; }
      .l-search-wrapper .search-block-form .container-inline .form-item input :-ms-input-placeholder {
        color: #585858; }
      .l-search-wrapper .search-block-form .container-inline .form-item input ::placeholder {
        color: #585858; }
      .l-search-wrapper .search-block-form .container-inline .form-item input:focus {
        width: 200px;
        color: #585858;
        background: #FFFFFF; }
        .l-search-wrapper .search-block-form .container-inline .form-item input:focus :-ms-input-placeholder {
          color: #585858; }
        .l-search-wrapper .search-block-form .container-inline .form-item input:focus ::placeholder {
          color: #585858; }
    .l-search-wrapper .search-block-form .container-inline .form-item label {
      display: none; }
    .l-search-wrapper .search-block-form .container-inline .form-actions {
      width: 30px;
      z-index: 2;
      vertical-align: top;
      border: 1px solid #FFFFFF;
      border-radius: 0 3px 3px 0; }
      .l-search-wrapper .search-block-form .container-inline .form-actions input,
      .l-search-wrapper .search-block-form .container-inline .form-actions input.form-submit {
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        text-indent: 200%;
        padding: 0;
        height: 100%;
        width: 100%;
        border-radius: 0 5px 5px 0;
        background: url("../images/search.png"), #3c61ad;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 15px 15px; }

.footer-wrapper {
  background: #3c61ad; }

.footer-menu {
  padding: 1rem 1rem 0 1rem; }
  .footer-menu .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .footer-menu .view-content .tri-box-item {
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
      margin: 0 auto; }
      .footer-menu .view-content .tri-box-item .button {
        margin-top: -15px;
        opacity: 0.99; }

ul {
  text-align: center;
  padding: 1rem 1rem; }
  ul li {
    display: block; }
    ul li.leaf {
      list-style-image: none;
      list-style-type: none; }
    ul li a {
      color: #FFFFFF;
      margin: 0.1rem;
      font-size: 0.8em;
      border-bottom: 1px solid transparent; }
      ul li a:hover, ul li a:focus {
        border-bottom: 1px dotted #FFFFFF; }

@media (min-width: 768px) {
  .footer-menu {
    max-width: 760px;
    margin: auto; }
    .footer-menu .view-content {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-direction: row;
          flex-direction: row; }
      .footer-menu .view-content .tri-box-item {
        -ms-flex: 0 1 32%;
            flex: 0 1 32%; }
  /*.footer-menu {
    max-width: 960px;
    margin: auto;
    ul {
      padding: 0;
      li {
        display: block;
        line-height: 20px;
      }
    }
  }*/
  .footer-menu-list {
    width: 32%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width: 960px;
    padding: 0 1rem 1rem 1rem; }
    .footer-menu-list ul {
      display: list-item;
      text-align: left; } }

.sub-footer-wrapper {
  background-color: #585858;
  width: 100%; }
  .sub-footer-wrapper .rap p {
    color: #FFFFFF;
    margin: 0 auto;
    font-size: 0.8em;
    max-width: 960px;
    padding: 0 1rem 1rem 1rem;
    text-align: center; }

ul.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  padding-bottom: 0; }
  ul.breadcrumb a {
    border-bottom: none; }
  ul.breadcrumb li:after {
    content: '\000BB';
    padding: 0 0.375em; }
  ul.breadcrumb li:last-child:after {
    content: ''; }

@media (min-width: 1280px) {
  ul.breadcrumb {
    width: 960px;
    margin: auto; } }

.l-branding {
  background-color: #f5f5f5;
  text-align: center;
  clear: both; }
  .l-branding .logo {
    width: 100%; }
    .l-branding .logo img {
      width: 122px;
      margin: 1rem 0; }
  .l-branding h1 {
    padding: 0 1rem 1rem;
    margin: 0;
    font-weight: 500;
    font-size: 1.8em; }
    .l-branding h1 a {
      color: #000000; }
      .l-branding h1 a:hover {
        color: #000000; }

@media (min-width: 768px) {
  .l-branding {
    background-color: #FFFFFF;
    margin: 1rem 1rem;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .l-branding .logo {
      width: 150px;
      border-right: 1px solid #e0e0e0;
      padding-right: 1rem; }
      .l-branding .logo img {
        margin: 0; }
    .l-branding .site-name {
      text-align: left; }
      .l-branding .site-name h1 {
        padding-bottom: 0; } }

@media (min-width: 1280px) {
  .l-branding-wrapper {
    width: 960px;
    margin: 0 auto; } }

.quad-box {
  padding: 0 1rem; }
  .quad-box .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-pack: center;
        justify-content: center; }
    .quad-box .view-content .need-to-know {
      border-color: red green blue;
      border-style: solid;
      border-width: 2px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 1em;
      margin-bottom: 2em;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
      padding-bottom: 1rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-item-align: end;
          align-self: flex-end; }
      .quad-box .view-content .need-to-know .button {
        -ms-flex-item-align: end;
            align-self: flex-end;
        width: 100%; }
        .quad-box .view-content .need-to-know .button a {
          color: white; }

@media (min-width: 768px) {
  .quad-box {
    padding: 0 1rem; }
    .quad-box .view-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      /*justify-content: space-between;*/
      -ms-flex-pack: center;
          justify-content: center; }
      .quad-box .view-content .need-to-know {
        margin: 0.5em;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
        padding-bottom: 1rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: center;
            justify-content: center; }
        .quad-box .view-content .need-to-know .button {
          -ms-flex-item-align: end;
              align-self: flex-end; } }

@media (min-width: 1280px) {
  .quad-box {
    padding: 0 1rem; }
    .quad-box .view-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      /*justify-content: space-between;*/
      -ms-flex-pack: center;
          justify-content: center; }
      .quad-box .view-content .need-to-know {
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
        padding-bottom: 1rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: center;
            justify-content: center; }
        .quad-box .view-content .need-to-know .button {
          -ms-flex-item-align: end;
              align-self: flex-end; } }

@media (max-width: 399px) {
  .quad-box .view-content .need-to-know {
    -ms-flex: 0 1 auto;
        flex: 0 1 auto; } }

body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0; }

.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus {
  position: absolute !important;
  top: 100px;
  left: 10px; }

.subscribe {
  text-align: center;
  padding: 1rem 2rem;
  width: 100%; }
  .subscribe form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: nowrap;
        flex: nowrap; }
    .subscribe form .fields {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center; }
      .subscribe form .fields input {
        border: 1px solid #e0e0e0;
        border-radius: 0;
        -webkit-appearance: none;
        border-radius: 0; }
        .subscribe form .fields input[type='email'] {
          width: 300px;
          height: 38px;
          margin-right: -114.5px;
          padding-right: 120px; }
        .subscribe form .fields input[type='submit'] {
          font-size: 16px;
          padding: 0.5rem 0.5rem;
          margin: 0.15rem 0.05rem 0 0;
          border-radius: 0 3px 3px 0; }

@media (min-width: 768px) {
  .subscribe {
    margin: 0 auto;
    width: 700px; } }

@media (max-width: 399px) {
  .subscribe form .fields input[type='email'] {
    width: 100%;
    margin-right: 0;
    padding-right: 0.5rem; } }

#social {
  width: 100%;
  padding: 1rem 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  #social h2 {
    margin: 0 2rem 0 0;
    font-size: 1em;
    font-weight: 500; }
  #social ul {
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    #social ul li {
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
      width: 30px;
      height: 26px;
      margin: 5px;
      overflow: hidden; }
      #social ul li a:before {
        font-size: 2em;
        color: #000000; }
      #social ul li a:hover, #social ul li a:focus {
        transition: all 0.2s ease-in-out;
        color: #4a7729; }
        #social ul li a:hover:before, #social ul li a:focus:before {
          transition: all 0.2s ease-in-out;
          color: #3c61ad; }
      #social ul li a span {
        color: transparent; }

@media (min-width: 768px) {
  #social h2 {
    margin-right: 4rem; }
  #social ul li {
    width: auto; }
    #social ul li a {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      #social ul li a span {
        text-indent: 0;
        overflow: visible;
        padding: 2px 1rem 0 0.25rem;
        color: inherit; } }

@media (min-width: 1280px) {
  #social {
    border: 1px solid #e0e0e0; } }

@media (max-width: 399px) {
  #social h2 {
    margin-right: 0; } }

.node-type-news-article .l-content {
  padding: 1rem 1rem; }
  .node-type-news-article .l-content img {
    padding: 1rem 0;
    margin: 0 auto;
    display: block;
    height: auto;
    max-height: 360px; }
  .node-type-news-article .l-content .caption {
    color: #215732;
    font-size: 0.8em; }

.page-news .view-news .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .page-news .view-news .view-content .news-item {
    -ms-flex: 0 1 100%;
        flex: 0 1 100%; }
    .page-news .view-news .view-content .news-item img {
      float: none;
      padding: 0 0 1rem 0;
      margin: 0 auto;
      width: 100%;
      max-width: 350px; }
    .page-news .view-news .view-content .news-item a {
      border-bottom: none; }

.latest-news {
  background-color: #f5f5f5; }
  .latest-news h2 {
    padding: 1rem 1rem 0; }
  .latest-news .flexslider {
    border: none;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    background-color: #f5f5f5;
    overflow: hidden; }
    .latest-news .flexslider img {
      max-width: 550px;
      margin: 0 auto; }
    .latest-news .flexslider ul.slides {
      padding: 0; }
  .latest-news .view-news-slider {
    text-align: left; }
    .latest-news .view-news-slider h3, .latest-news .view-news-slider .date {
      margin: 0; }
    .latest-news .view-news-slider .accordion-header {
      position: relative; }
    .latest-news .view-news-slider .active {
      padding: 1rem 1rem 0; }
      .latest-news .view-news-slider .active .accordion-control {
        height: 0;
        width: 0; }
      .latest-news .view-news-slider .active h3 {
        margin-bottom: 0.75em; }
        .latest-news .view-news-slider .active h3 a, .latest-news .view-news-slider .active h3 a:focus {
          color: #4a7729; }
          .latest-news .view-news-slider .active h3 a:hover, .latest-news .view-news-slider .active h3 a:focus:hover {
            color: #3c61ad; }
    .latest-news .view-news-slider .inactive {
      position: relative;
      background-color: #585858;
      margin-top: 1px;
      transition: background-color 400ms ease; }
      .latest-news .view-news-slider .inactive:hover {
        background-color: #3c61ad; }
      .latest-news .view-news-slider .inactive .accordion-control {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 25; }
        .latest-news .view-news-slider .inactive .accordion-control:hover {
          cursor: pointer; }
      .latest-news .view-news-slider .inactive a {
        display: block;
        width: 100%;
        height: 100%; }
      .latest-news .view-news-slider .inactive .date, .latest-news .view-news-slider .inactive h3 a {
        color: #FFFFFF; }
      .latest-news .view-news-slider .inactive .date {
        padding: 1rem 1rem 0; }
      .latest-news .view-news-slider .inactive h3 {
        padding: 0 1rem 1rem; }
  .latest-news .view-footer > p {
    margin-bottom: 0; }
    .latest-news .view-footer > p .button {
      width: 100%; }

@media (min-width: 768px) {
  .node-type-news-article .l-content img {
    float: right;
    padding: 1rem 1rem; }
  .page-news .view-news .view-content .news-item {
    -ms-flex: 0 1 32%;
        flex: 0 1 32%;
    margin: 0 0.5%; } }

@media (min-width: 1280px) {
  .page-news .view-news .view-content .news-item {
    -ms-flex: 0 1 24%;
        flex: 0 1 24%; }
  .latest-news {
    background-color: #FFFFFF;
    margin-bottom: 1rem; }
    .latest-news .flexslider {
      height: 100%; }
      .latest-news .flexslider ul.slides {
        height: 100%;
        list-style: none;
        padding-left: 0;
        padding-bottom: 0; }
        .latest-news .flexslider ul.slides li {
          height: 100%; }
          .latest-news .flexslider ul.slides li .views-field {
            height: 100%; }
            .latest-news .flexslider ul.slides li .views-field .field-content {
              height: 100%; }
              .latest-news .flexslider ul.slides li .views-field .field-content img {
                max-width: none;
                height: 100%;
                border-radius: 0;
                margin: 0; }
    .latest-news > .view-news-slider {
      display: -ms-flexbox;
      display: flex; }
      .latest-news > .view-news-slider > .view-content {
        -ms-flex-order: 2;
            order: 2;
        -ms-flex: 1 0 65%;
            flex: 1 0 65%;
        height: 100%; }
        .latest-news > .view-news-slider > .view-content .flexslider {
          padding: 0;
          border-radius: 0; }
      .latest-news > .view-news-slider > .view-footer {
        -ms-flex-order: 1;
            order: 1;
        -ms-flex: 1 0 35%;
            flex: 1 0 35%; }
        .latest-news > .view-news-slider > .view-footer h3.header a {
          height: 25.92px;
          line-height: 25.92px;
          overflow: hidden;
          position: relative; }
        .latest-news > .view-news-slider > .view-footer .inactive:first-child {
          margin-top: 0; }
        .latest-news > .view-news-slider > .view-footer .active {
          background-color: #f5f5f5;
          height: 142px;
          position: relative; }
          .latest-news > .view-news-slider > .view-footer .active h3 {
            margin-bottom: 0; }
          .latest-news > .view-news-slider > .view-footer .active:after {
            content: '';
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid #f5f5f5;
            position: absolute;
            left: 100%;
            z-index: 20;
            top: 5%; }
        .latest-news > .view-news-slider > .view-footer .accordion-header {
          font-size: 0.9em; }
        .latest-news > .view-news-slider > .view-footer .accordion-content {
          font-size: 0.85em; }
    .latest-news .view-footer > p .button {
      border-radius: 1.5px 0 0 1.5px; } }

a.back-to-top {
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: green;
  text-indent: -9999px;
  border-radius: 30px;
  z-index: 9999; }

a:hover.back-to-top {
  background-color: black; }

@media (min-width: 768px) {
  nav.l-top-menu-left ul.menu {
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    list-style: none;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto; }
    nav.l-top-menu-left ul.menu li {
      padding: 1em; } }

/*# sourceMappingURL=diisv2.styles.css.map */
