#{$all-buttons}, .button {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius / 4;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size * 0.8;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: $small-spacing / 2;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: $corporate-accent-1;
    color: $black;
  }
  &:active {
    background-color: $corporate-primary-2;
    color: $white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
