body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size-mobile;
  line-height: $base-line-height;
}
html, body {
    overflow-x:hidden; 
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: $small-spacing 0 $small-spacing;
  color: $heading-font-color;
  font-weight: 500;
}
h1 {
  font-size: $base-font-size-mobile * 2.1;
  font-weight: 300;
  margin: 0 0 $small-spacing;
}
h2 {
  font-weight: 400;
  font-size: $base-font-size-mobile * 1.8;
}
h3 {

  font-size: $base-font-size-mobile * 1.6;
}
h4 {
  font-size: $base-font-size-mobile * 1.4;
}
h5 {
  font-size: $base-font-size-mobile * 1.2;
}
h6 {
  text-transform: uppercase;
  font-size: $base-font-size-mobile;
}
p {
  margin: 0 0 $small-spacing;
  color: $dark-grey;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active {
    color: $corporate-secondary-1;
  }
  &:focus,
  &:hover {
    color: $corporate-primary-1;

  }
}
.l-content {
  a {
    border-bottom: 1px dotted $action-color;
    &:focus,
    &:hover {
      border-bottom: 1px dotted $corporate-primary-1;
    }
  }
  
}
strong {
  font-weight: 500;
}
hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
sup, sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.l-content {
  ul, ol {
    list-style: outside square;
    padding-left: $base-font-size * 3;
    padding-bottom: $small-spacing;
    ul, ol {
      list-style: outside disc;
      ul {
        list-style-type: circle;
      }
    }
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
      }
    }
  }
}
@include breakpoint(tablet) {
  body {
    font-size: $base-font-size;
  }
  h1 {
    font-size: $base-font-size * 2.1;
  }
  h2 {
    font-size: $base-font-size * 1.8;
  }
  h3 {
    font-size: $base-font-size * 1.6;
  }
  h4 {
    font-size: $base-font-size * 1.4;
  }
  h5 {
    font-size: $base-font-size * 1.2;
  }
  h6 {
    font-size: $base-font-size;
  }
}
@include breakpoint(desktop) {
  html, body {
    overflow-x: visible; 
  }
}
