$black: #000000;
$white: #FFFFFF;
$corporate-primary-1: #005677;
$corporate-primary-2: #00283e;
$corporate-secondary-1: #58595b;
$corporate-secondary-2: #1b9590;
$corporate-secondary-3: #939598;
$corporate-secondary-4: #61c6c6;
$corporate-accent-1: #9cd9e0;
$corporate-accent-2: #c973af;
$lightish-grey: #e1e1e1;
$text-color: $black;

$grapefruit: #F58B87;
$purple: #a16aa3;
$pink: #F0648B;
$blue: #718CC7;
$yellow: #FDC20F;
$green: #92B36F;
$red: #f00;

$bright-green: #8DC85C;
$bright-yellow: #FCEF48;
$bright-pink: #FF648C;
$bright-blue: #6E8CCF;
$super-yellow: #FFDD00;
$light-pink: #FFD1DD;
$light-green: #DFE8D4;
$light-yellow: #FFF7A1;
$light-blue: #DFEBFB;
$super-blue: #6494E6;
$mid-yellow: #F5E40E;

$light-black: #222222;
$dark-grey: #3A3A3A;
$mid-grey: #444;
$mid-light-grey: #666666;
$light-grey: #A3A3A3;
$dark-white: #F0F0F0;
$mid-white: #dddddd;
$light-white: #eeeeee;
$dark-mid-grey: #333333;
$dark-mid-white: #FEFEFE;