// Footer

.l-footer {
	background-color: $bluebar-color;
	font-size: 85%;
	color: $white;
}
.l-footer-menu-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: $dark-gray;
	padding: $small-spacing;
	color: $white;
	a {
		color: $white;
		&:hover {
			text-decoration: underline;
		}
	}
	> nav, > div {
		margin-bottom: $small-spacing;
	}
}
.footer-block {
	flex: 0 0 100%;
	padding-right: $base-spacing;
	h2 {
		font-size: $base-font-size * 1.2;
	}
	li {
		margin-bottom: $small-spacing / 2;
	}
}
.l-copyright {
	background-color: $light-gray;
	.block__content {
		padding: $small-spacing;
		text-align: center;
	}
	p {
		margin: 0;
	}
}
.rap p {
	text-align: center;
	padding: $small-spacing;
	font-size: 90%;
}

@include layout-use(M up) {

}

/*@include layout-use(L up) {
    @include type-base($base__font-size, $base__line-height);
    @include breakpoint;
  
	.l-footer {
		@include bleed;
	}
	.l-footer-menu-wrapper {
	}
	.footer-block {
		flex: 0 0 22.5%;
	}
	.l-copyright {
		@include bleed;
	}
}*/

 @include layout-use(L) {
      // retrieve font size and line height from new layout context 
      $text__font-size: layout-get(section, text__font-size);
      $text__line-height: layout-get(section, text__line-height);
      @include type-context($text__font-size, $text__line-height) {
        padding: list-px-to-em((30px 20px 40px), $local__font-size);
      }      
    }

