// l-search-wrapper

.l-search-wrapper {
	margin: $small-spacing;
	.container-inline {
		display: flex;
		.form-type-textfield {
			margin: 0 $small-spacing 0 0;
			flex: 1 0 auto;
			input {
				margin: 0;
				height: 100%;
				border: 1px solid $medium-gray;
				padding: 0.6em;
			}
		}
		.form-actions {
			flex: 0 0 auto;
		}
	}
}

@include layout-use(L up) {
    @include type-base($base__font-size, $base__line-height);
    
  
	.l-search-wrapper {
		flex: 0 1 auto;
		margin: 0;
	}
}
