// l-top-menu-wrapper

.l-top-menu-wrapper {
	background-color: $blue;
	margin-bottom: $small-spacing;
	.menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		li {
			flex: 0 0 auto;
		}
		a {
			@include button($blue, $white);
			color: $white;
			font-size: 80%;
		}
	}
	.menu-wrapper {
		padding: $small-spacing / 2;
		&.left {
			border-bottom: 1px solid $white;
		}
	}
}

@include layout-use(M up) {
    @include type-base($base__font-size, $base__line-height);
    
  
	.l-top-menu-wrapper {
		@include clearfix;
		.menu-wrapper {
			@include layout-use(M) ;
		
			
		}
	}
}

@include layout-use(L up) {
    @include type-base($base__font-size, $base__line-height);
    s
 
	.l-top-menu-wrapper {
		@include bleed;
	}
}
