// pane-content-items

.pane-content-items {
	padding: $small-spacing;
	.date-display-single {
		font-style: italic;
	}
	.item {
		margin-bottom: $small-spacing;
	}
}

@include layout-use(L up) {
    @include type-base($base__font-size, $base__line-height);
	.pane-content-items {
		padding: 0;
		.item {
			margin-bottom: $base-spacing;
		}
	}
}
