// sidebar-right

.sidebar-right {
	background-color: $light-gray;
	padding: $small-spacing;
	border-radius: $base-border-radius;
	h2 {
		font-size: $base-font-size * 1.2;
	}
	h3 {
		font-size: $base-font-size * 1.1;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

@include layout-use(M up) {
    @include type-base($base__font-size, $base__line-height);
	
}

@include layout-use(L up) {
    @include type-base($base__font-size, $base__line-height);
	.sidebar-right {
		padding: $base-spacing;
	}
}
