$black: #000000;
$white: #FFFFFF;
$corporate-primary-1: #215732;
$corporate-primary-2: #4a7729;
$corporate-secondary-1: #3c61ad;
$corporate-accent-1: #f8e08e;

$text-color: $black;


$light-black: #373737;
$dark-grey: #585858;
$mid-grey: #949494;
$grey: #e0e0e0;
$light-grey: #f5f5f5;
