// Colors

//Ministers Colours
$blue: #005677;
$light-gray: #F0F0F0;
$medium-gray: #CFC3C3;
$dark-gray: #333;
$black: #000000;
$white: #FFFFFF;

//AR
$pink: #b74795;
$green: #1a948f;
$grey: #ADABAB;

//EM
$black-color : #000;
$blue-color : #005677;
$black80-color : rgba(0, 0, 0, 0.8);
$black50-color : rgba(0, 0, 0, 0.5);
$black20-color : rgba(0, 0, 0, 0.2);
$navy-color : #00283E;
$aqua-color : rgb(27,149,144);
$light-blue-color : rgb(97,198,198);
$pale-blue-color : rgb(156,217,224);
$pink-color : rgb(201,115,175);
$title-color : #58595B;
$bluebar-color : #005677;
$white: rgb(255, 255, 255);

//Graduates


$purple: #7B2E65;
$teal: #138479;
$red: #E80057;
$blue: #376089;
$dark-blue: shade($blue, 20%);
$green2: #3E8316;

//NISA
$corporate-primary-1: #005677;
$corporate-primary-2: #00283e;
$corporate-secondary-1: #58595b;
$corporate-secondary-2: #1b9590;
$corporate-secondary-3: #939598;
$corporate-secondary-4: #61c6c6;
$corporate-accent-1: #9cd9e0;
$corporate-accent-2: #c973af;
$lightish-grey: #e1e1e1;
$text-color: $black;

$grapefruit: #F58B87;
$purple: #a16aa3;
$pink: #F0648B;
$blue: #718CC7;
$yellow: #FDC20F;
$green: #92B36F;
$red: #f00;

$bright-green: #8DC85C;
$bright-yellow: #FCEF48;
$bright-pink: #FF648C;
$bright-blue: #6E8CCF;
$super-yellow: #FFDD00;
$light-pink: #FFD1DD;
$light-green: #DFE8D4;
$light-yellow: #FFF7A1;
$light-blue: #DFEBFB;
$super-blue: #6494E6;
$mid-yellow: #F5E40E;


//RW

$rw-corporate-primary-1: #215732;
$rw-corporate-primary-2: #4a7729;
$rw-corporate-secondary-1: #3c61ad;
$rw-corporate-accent-1: #f8e08e;