

$susy:(
  columns: 12,
  gutters: 0.25,
  box-sizing: border-box
);

$susy: (
  container: 960px,
);

*, html {
  box-sizing: border-box;
}





$tablet: 784px;
$desktop: 976px;

$tablet-columns: 12;
$desktop-columns: 12;

$container: 960px;

.l-page {
  @include container;
  
}