ul,
ol,
.menu .leaf {
  list-style: none;
  margin: 0;
  padding: 0;
}

.l-content {
	ul {
		list-style: disc;
		margin: 0 0 $base-spacing 2em;
	}
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
