a.back-to-top{
    display: none;
    position: fixed;
  width:60px;
  height: 60px;
  bottom: 20px;
  right:20px;
  background: green url("/images/uparrow.png") no-repeat center 43%;
  text-indent: -9999px;
  border-radius: 30px;


}

a:hover.back-to-top{
    background-color: black;
}