.quad-box {
  padding: 0 $horz-spacing-unit;
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    .need-to-know {
      @include border-color(red green blue);
      @include border-style(solid);
      @include border-width(2px);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 1em;
      margin-bottom: 2em;
      flex: 0 1 100%;
      padding-bottom: $horz-spacing-unit;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-self: flex-end;

      .button {
        align-self: flex-end;
        width: 100%;
        a {
          color: white;
        }
      }
    }
  }
}



//tablet
@include breakpoint(tablet) {

  .quad-box {
    padding: 0 $horz-spacing-unit;
    .view-content {
      display: flex;
      flex-wrap: wrap;
      /*justify-content: space-between;*/
      justify-content: center;
      .need-to-know {
        margin: 0.5em;
        flex: 0 1 45%;
        padding-bottom: $horz-spacing-unit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .button {
          align-self: flex-end;
        }
      }
    }
  }
}



//desktop
@include breakpoint(desktop) {
  .quad-box {
    padding: 0 $horz-spacing-unit;
    .view-content {
      display: flex;
      flex-wrap: wrap;
      /*justify-content: space-between;*/
      justify-content: center;
      .need-to-know {
        flex: 0 1 30%;
        padding-bottom: $horz-spacing-unit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .button {
          align-self: flex-end;
        }
      }
    }
  }
}


@include breakpoint(mobile) {
  .quad-box {
    .view-content {
      .need-to-know {
        flex: 0 1 auto;
      }
    }
  }
}
