.sub-footer-wrapper {
	background-color: $dark-grey;
	width: 100%;
	.rap p{
		color: $white;
		margin: 0 auto;
		font-size: $base-font-size * 0.8;
		max-width: 960px;
		padding: 0 $horz-spacing-unit $vert-spacing-unit $horz-spacing-unit;
		text-align: center;
	}
}

@include breakpoint(tablet) {

}